**1. Write a Python program to find sum of elements in list?**  
ANS-

In [21]:
l = [1,2,3,4,5,9,5658]
def sum_list():
  sum = 0
  for i in l :
    sum +=i
  return print("sum of list is" , sum)

sum_list()

sum of list is 5682

**2. Write a Python program to Multiply all numbers in the list?**  
ANS -

In [26]:
l = [1,2,3,4,5,9,56]
def mult_list():
  output = 1
  for i in l :
    output *=i
  return print("multiplication of list is" , output)


mult_list()

multiplication of list is 60480

**3. Write a Python program to find smallest number in a list?**  
ANS -

In [34]:
l = [4,5,9,56]
def small_el():
  l1 = sorted(l)
  return print("the smallest number is " ,l1[0])

small_el()

the smallest number is  4

**4. Write a Python program to find largest number in a list?**  
ANS -

In [38]:
l = [5,8,6,7,56,21,89,562]
def large_el():
  l1 = sorted(l)
  return print("the largest number is ", l1[-1])

large_el()

the largest number is  562

**5. Write a Python program to find second largest number in a list?**  
ANS -

In [39]:
l = [5,8,6,7,56,21,89,562]
def second_large_el():
  l1 = sorted(l)
  return print("the largest number is ", l1[-2])

second_large_el()

the largest number is  89

**6. Write a Python program to find N largest elements from a list?**  
ANS -

In [52]:
l = [5,8,6,7,56,21,89,562,56,86,1542,78,63]
def n_large(m):
  l1 = sorted(l,reverse = True)
  return print("the largest numbers are" , l1[0:m] )

n_large(5)

the largest numbers are [1542, 562, 89, 86, 78]

**7. Write a Python program to print even numbers in a list?**  
ANS -

In [54]:
l = [5,8,6,7,56,21,89,562,56,86,1542,78,63]
def even_el():
  even = []
  for i in l :
    if i%2 == 0 :
      even.append(i)
  return print("the even numbers are" , even)

even_el()

the even numbers are [8, 6, 56, 562, 56, 86, 1542, 78]

**8. Write a Python program to print odd numbers in a List?**  
ANS -

In [55]:
l = [5,8,6,7,56,21,89,562,56,86,1542,78,63]
def odd_el():
  odd = []
  for i in l :
    if i%2 != 0 :
      odd.append(i)
  return print("the even numbers are" , odd)

odd_el()

the even numbers are [5, 7, 21, 89, 63]

**9. Write a Python program to Remove empty List from List?**  
ANS -

In [58]:
l = [5,8,6,7,56,21,[],89,562,56,86,1542,[ ],78,63,[]]
def empty_list():
  new_l = []
  for i in l :
    if i != [] :
      new_l.append(i)
  return print("the new list without empty lists is" , new_l)


empty_list()

the new list without empty lists is [5, 8, 6, 7, 56, 21, 89, 562, 56, 86, 1542, 78, 63]

**10. Write a Python program to Cloning or Copying a list?**  
ANS -

In [61]:
l = ['Superman', 'Homelander', 'Black Adam' , 'Thor']
def clone_l():
  clone = []
  clone.extend(l)
  return print("After cloning list is" , clone) 

clone_l()

After cloning list is ['Superman', 'Homelander', 'Black Adam', 'Thor']

**11. Write a Python program to Count occurrences of an element in a list?**  
ANS -

In [66]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 

lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times