**1.Write a Python program to convert kilometers to miles?**  
ANS -

In [2]:
#Input of distance in KMs 
Kilometers = float(input("Enter distance in KM  "))

#Rate of conversion
conv_rate = 0.62137

#Calcution for Miles
Miles = Kilometers * conv_rate 

print("The distance in miles is" , Miles)

Enter distance in KM  1000.569
The distance in miles is 621.72355953

**2.Write a Python program to convert Celsius to Fahrenheit?**  
ANS -

In [3]:
# Fahrenheit = (Celcius - 32) * .5556

#Input of Temp in Celcius
Celcius = float(input("Enter Temp value in Celcius "))

#Conversion of Celcius to Fahrenheit 

Fahrenheit = (Celcius - 32) * .5556
print("The temp in Fahrenheit is " , Fahrenheit)

Enter Temp value in Celcius 95.63
The temp in Fahrenheit is  35.352827999999995

**3.Write a Python program to display calendar?**  
ANS -

In [7]:
#Import Calendar module 
import calendar 

#Taking input of Year and Month

YY = int(input("Enter Year -"))
MM = int(input("Enter month from 1 to 12 - "))

print(calendar.month(YY,MM))

Enter Year -1999
Enter month from 1 to 12 - 4
     April 1999
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

**4.Write a Python program to solve quadractic equation?**  
ANS -

In [22]:
#Import cmath module
import cmath

#Taking input for numbers

a = int(input("Enter value for a = "))
b = int(input("Enter value for b = "))
c = int(input("Enter value for c = "))

#Dicriminant value 
d = (b**2) - (4*a*c)

#Finding solutions 
Soln1 = (-b-cmath.sqrt(d))/(2*a)
Soln2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(Soln1,Soln2))

Enter value for a = 1
Enter value for b = 4
Enter value for c = 1
The solution are (-3.732050807568877+0j) and (-0.2679491924311228+0j)

**5. Write a Python program to swap two variables without temp variable?**  
ANS -

In [11]:
#Taking input for numbers

p = int(input("Enter value for p - "))
q = int(input("Enter value for q - "))

p,q = q,p 

print("p =" , p)
print("q =" , q)

Enter value for p - 89
Enter value for q - 78
p = 78
q = 89