**1.Create a function that takes a list of non-negative integers and strings and return a new list without the strings ?**
Examples:  
filter_list([1, 2, "a", "b"]) ➞ [1, 2]  
filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]  
filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]  
ANS -

In [1]:
l = [1, 'a', 'b', 0, 15]

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 0, 15]

**2. The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case ?**  
Examples:  
reverse("Hello World") ➞ "DLROw OLLEh"  
reverse("ReVeRsE") ➞ "eSrEvEr"  
reverse("Radar") ➞ "RADAr"  
ANS -

In [2]:
def reverse(str):
    str = str[::-1]
    return str.swapcase()
    
print(reverse('Hello World'))

DLROw OLLEh

In [3]:
reverse('ReVeRsE')

'eSrEvEr'

In [4]:
reverse('Radar')

'RADAr'

**3.You can assign variables from lists like this:**  

lst = [1, 2, 3, 4, 5, 6] first = lst[0] middle = lst[1:-1] last = lst[-1] print(first) ➞ outputs 1 print(middle) ➞ outputs [2, 3, 4, 5] print(last) ➞ outputs 6  
With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment  
(check the Resources tab for some examples), where:  
first ➞ 1 middle ➞ [2, 3, 4, 5] last ➞ 6  
Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.  
ANS -

In [5]:
lst = [1, 2, 3, 4, 5, 6]
first ,*middle,last = lst

In [6]:
first

1

In [7]:
middle

[2, 3, 4, 5]

In [8]:
last

6

**4.Write a function that calculates the factorial of a number recursively.**  
Examples:  
factorial(5) ➞ 120  
factorial(3) ➞ 6  
factorial(1) ➞ 1  
factorial(0) ➞ 1  
ANS -

In [9]:
def factorial(num):
    if num==0:
        return 1
    else:
        return num*factorial(num-1)

In [10]:
print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))

120
6
1
1

**5.Write a function that moves all elements of one type to the end of the list.**  
Examples:  
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]  
Move all the 1s to the end of the array.  
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]  
move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]  
ANS -

In [11]:
def move_to_end(lst, value):
    try:
        end = []
        for i in lst[::-1]:
            if i == value:
                lst.remove(i)
                end.append(i)
        lst.extend(end)
        return lst
    except Exception as e:
        log.info(str(e))

In [12]:
print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end(["a", "a", "a", "b"], "a"))

[3, 2, 4, 4, 1, 1]
['b', 'a', 'a', 'a']