Question 1  
Create a function that takes a number as an argument and returns True or False depending  
on whether the number is symmetrical or not. A number is symmetrical when it is the same as  
its reverse.  
Examples  
is_symmetrical(7227) ➞ True  
is_symmetrical(12567) ➞ False  
is_symmetrical(44444444) ➞ True  
is_symmetrical(9939) ➞ False  
is_symmetrical(1112111) ➞ True

In [4]:
def is_symmetrical(num):
  if str(num) == str(num)[::-1]:
    return True
  else :
    return False 

is_symmetrical(12567)

False

Question 2  
Given a string of numbers separated by a comma and space, return the product of the  
numbers.  
Examples  
multiply_nums(&quot;2, 3&quot;) ➞ 6  
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24  
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0  
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [3]:
str1 = '2, 3'
str1 = str1.replace(' ','').split(',')
str1
prod = 1
for i in str1 :
  prod*=int(i)
prod

6

In [4]:
def multiply_nums(str1):
  l = str1.replace(' ','').split(',')
  prod = 1
  for i in l :
    prod*=int(i)
  return prod 

multiply_nums("10, -2")

-20

Question 3  
Create a function that squares every digit of a number.  
Examples  
square_digits(9119) ➞ 811181  
square_digits(2483) ➞ 416649  
square_digits(3212) ➞ 9414  
Notes  
The function receives an integer and must return an integer.

In [20]:
def square_digits(num):
  l =[]
  for i in str(num):
    l.append(str(int(i)**2))
  res = ''.join(l)
  return res

square_digits(2483)

'416649'

Question 4  
Create a function that sorts a list and removes all duplicate items from it.  
Examples  
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]  
setify([4, 4, 4, 4]) ➞ [4]  
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]  
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [23]:
l  = [1, 3, 3, 5, 5]
l1 = []
for i in l :
  if i not in l1 :
    l1.append(i)
  else :
    pass
l1

[1, 3, 5]

In [26]:
def setify(list1):
  l1 = []
  for i in list1 :
    if i not in l1 :
      l1.append(i)
  return sorted(l1) 

setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5  
Create a function that returns the mean of all digits.  
Examples  
mean(42) ➞ 3  
mean(12345) ➞ 3  
mean(666) ➞ 6  
Notes  
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in  
512 is (5+1+2)/3(number of digits) = 8/3=2).  
 The mean will always be an integer.

In [30]:
num = 42 
sum = 0
for i in str(num):
  sum += int(i)
sum

6

In [37]:
def mean(num):
  sum = 0 
  count = 0
  for i in str(num):
    sum += int(i)
    count +=1
  return int(sum/count)

mean(12345)

3